<% layout('layouts/boilerplate') %>
    <!-- chamar layout passa esse arquivo para o boilerplate como body -->
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const campos = {features: <%- JSON.stringify(campos) %>}
    </script>

    <div id="map" style="width: 100%; height: 300px; margin-bottom: 2%;"></div>
 
    <div id="headerindex">
        <h1 id="tituloindex">Todos os Campos</h1>
        <div id="filtros">
            <form action="">
                <input type="text" class="form-control form-control-sm" name="cidadequery" placeholder="cidade" value="<%= req.query.cidadequery %>">
                <div>
                    <label class="form-check-label" for="oficialquery">apenas campos verificados</label>
                    <input class="form-check-input" type="checkbox" name="oficialquery" id="oficialquery" <%- req.query.oficialquery == 'on' ? 'checked' : '' %>>
                </div>
                <button id="searchbtn" class="btn btn-success btn-sm">&#128270;</button>
            </form>
        </div>
    </div>
    <% for(let campo of campos){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= campo.imagem[0].url %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campo.titulo %>
                            <% if (campo.verificado) { %>
                                <img src="https://i.imgur.com/wvhMU4Q.png" alt="campo verificado!" style="width: 40px;">
                               <% } %>
                        </h5>
                        <p class="card-text">
                            <%= campo.descricao %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campo.cidade %>
                            </small>
                        </p>
                        <a class="btn btn-success" href="/campos/<%= campo._id %>">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <script src="/javascript/clusterMap.js"></script>