<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Comment id: <%= id %></h1>
    <li><%= comment.text %> - <b><%= comment.username %></b></li>
    <a href="<%=id%>/edit">edit</a>
    <a href="/comments">back to index</a>
    <form method="POST" action="/comments/<%= id %>?_method=DELETE">
    <button>Delete</button>
    </form>
</body>
</html>