<% layout('layouts/boilerplate') %>
    <h1>Editar Campo</h1>

    <form action="/campos/<%= essecampo._id %>?_method=PUT" method="POST">
        <p>
            <label for="titulo">Nome do campo: </label>
            <input type="text" id="title" name="campo[titulo]" placeholder="ex: Arena Ronaldinho" value="<%= essecampo.titulo %>">
        </p>
        <p>
            <label for="local">Cidade:</label>
            <input type="text" id="local" name="campo[local]" placeholder="ex: Maceió" value="<%= essecampo.local %>">
        </p>
        <p>
            <label for="preco">Preço por hora: </label>
            <input type="text" id="preco" name="campo[preco]" placeholder="ex: R$ 250 / Hora" value="<%= essecampo.preco %>">
        </p>
        <p>
            <label for="descricao">Descrição: </label><br>
            <textarea id="descricao" name="campo[descricao]" rows="4" cols="50" placeholder="ex: campo society na beira da lagoa"><%= essecampo.descricao %></textarea>
        </p>
        <button type="button" class="btn btn-outline-secondary">Enviar</button>
    </form>

    <br>
    <a href="/campos/<%= essecampo._id %>">Voltar a página de <%= essecampo.titulo %></a>
