<% layout('layouts/boilerplate') %>
    <h1>
        <%= essecampo.titulo %>
    </h1>
    <h2>
        <%= essecampo.local %>
    </h2>
    <div>
        Descrição: <%= essecampo.descricao %><br>
            Preço: <%= essecampo.preco %>
    </div>
    <p>
    <form action="/campos/<%= essecampo._id %>?_method=DELETE" method="POST">
        <button type="button" class="btn btn-outline-secondary">Deletar campo</button>
    </form>
    </p>

    <footer>
        <a href="/campos/<%= essecampo._id %>/edit">Editar Campo</a><br>
        <a href="/campos">Todos os Campos</a>
    </footer>